@import '~styles/imports.sass'

.Page
  &.is-fixed
    height: 100%
    display: flex
    justify-content: center
    align-items: center

    .Page-inner
      margin-top: -60px

.Page-inner
  padding: 0 15px
  text-align: center
