$blue_dark: darken(#5D83A9, 5%)
$blue_bg: #5D83A9
$blue_medium: #D6DFE9
$blue_light: #F5F7F9

$green_dark: #308434
$red_dark: #D20A2F

$text_color: #555
$text_color_light: lighten($text_color, 25%)

$text_font_size: 13px

=no_select
  user-select: none

=text_overflow
  display: block
  overflow: hidden !important
  white-space: nowrap
  text-overflow: ellipsis

=clearfix
  &:before,
  &:after
    content: ""
    display: table

  &:after
    clear: both
