@import '~normalize.css'
@import './imports.sass'
@import './global.sass'

html *
  box-sizing: border-box

#root,
#app_root
  height: 100%

html, body
  width: 100%
  height: 100%

body
  font-size: 14px
  line-height: 25px
  background: url('images/cream_pixels_bg.png') center top repeat
  background-size: 160px

a
  color: $blue_dark
