@import '~styles/imports.sass'

.Layout
  padding: 30px
  width: 700px
  background: #fff
  border: 1px solid #ccc
  border-radius: 3px
  margin: 100px auto

  h1
    font-size: 20px
    line-height: 30px
